@using StudentCourses.Web.Models.Home
@model ICollection<CourseViewModel>
	
<h3>All Courses</h3>
<table cellpadding="5">
	<thead>
		<tr>
			<td width="150">Course</td>
			<td width="200">Description</td>
			<td width="200"></td>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (var course in Model)
			{
				<tr>
					<td>@course.Title</td>
					<td>@course.Description</td>
					<td>
						@Ajax.ActionLink("Register", "RegisterToCourse",
								 new { id = course.Id },
								 new AjaxOptions()
								 {
									 HttpMethod = "POST",
									 Confirm = "Are you sure you want to register for \"" + course.Title + "\"?",
									 OnFailure = "DisplayErrorPopup",
									 InsertionMode = InsertionMode.Replace,
									 UpdateTargetId = "registeredCourses"
								 })
						@Html.ActionLink("Edit", "EditCourse", new { id = course.Id })
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<script>
	function DisplayErrorPopup(xhr, exception) {
		if (xhr.status === 409) {
			alert('Course is alreayd registered!');
		}
	}
</script>