@using StudentCourses.Web.Models.Home
@model HomeViewModel

@{
	ViewBag.Title = "Manage Courses";
}

<h1>@ViewBag.Title</h1>

<hr />
<h2>All courses</h2>
<table border=1>
	<thead>
		<tr>
			<td>Course</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (var course in Model.AllCourses)
			{
				<tr>
					<td>@course.Title</td>
					<td>@course.Description</td>
				</tr>
			}
		}
	</tbody>
</table>