@using StudentCourses.Web.Models.Home
@model HomeViewModel

@{
	ViewBag.Title = "Manage Courses";
}

<h1>@ViewBag.Title</h1>

<div class="row">
	<div class="col-md-4" id="registeredCourses">
		@Html.Partial("_ListRegisteredCourses", Model.RegisteredCourses)
	</div>
	<div class="col-md-4" id="allCourses">
		@Html.Partial("_ListAllCourses", Model.AllCourses)
	</div>
</div>
<div class="row">
	@Html.ActionLink("Add New Course", "AddCourse", null, new { @class= "btn btn-default" })
</div>